@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

@font-face {
  font-family: 'cocogoose';
  src: url('/assets/cocogoose/fonts/cocogoose_pro_light-webfont.woff') format('woff2');
  font-weight: normal;
  font-style: normal;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-size: 0.875rem;
  min-height: 100vh;
  max-width: 100vw;
  margin: 0 auto !important;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 1rem;
  color: #3e3e3e;
}

.cocogoose {
  font-family: 'cocogoose', sans-serif;
}

.poppins {
  font-family: 'poppins', sans-serif;
}

.container {
  max-width: 100vw;
  background-color: lightgray;
}

.logo {
  display: none !important;
}
